<section>
  <div class="col-lg-8" data-bind="if: docForShow">
    <form role="form">
      <div class="page-header">
        <h4>Карточка документа</h4>
      </div>
      <div class="form-group">
        <dl class="dl-horizontal" data-bind="with: docForShow">
          <dt>Номер документа:</dt>
          <dd data-bind="text: number"></dd>
          <dt>Дата создания:</dt>
          <dd data-bind="text: createDate"></dd>
          <dt>Дата изменения:</dt>
          <dd data-bind="text: updateDate"></dd>
          <dt>Краткое содержание:</dt>
          <dd data-bind="text: description"></dd>
          <dt>Документ:</dt>
          <dd data-bind="foreach: attachments">
            <a data-bind="text: name, attr: {href: url}"></a><br/>
          </dd>
        </dl>
      </div>
    </form>
  </div>
</section>


