<section>
  <!-- ko if: tasks().length > 0 -->
  <div class="span6 main-content">
    <div class="row-fluid">
        <h2>Входящие задания</h2>
        <ul class="cards list-group widget item-summary" style="border-bottom:0px;" data-bind="foreach: tasks">
            
            <li class="list-group-item">
                <!--<button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;" data-bind="click: $parent.showTask">Отработать</button>-->
                <i class="pull-left muted icon-bar-chart" style="margin-top:.3em;"></i>
                <div>
                    <p class="title" data-bind="text: value.title"></p>
                    <p class="info" data-bind="text: value.createDate"></p>
                </div>
                <a class="btn btn-mini pull-right" style="margin-top:-30px;" data-bind="attr: { href: '#user/showTask/' + id }">Отработать задание</a>
            </li>
            
        </ul>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko ifnot: tasks().length > 0 -->
  <h3>У Вас нет входящих заданий</h3>
  <!-- /ko -->
</section>


