<section>
  <h2>Проект "BPM Engine"</h2>
  <img src="images/logo@2x.png" style="float: left;">
  <pre>   Данный проект (далее Система) представляет собой базовую реализацию классической BPM-системы, т.е. системы управления бизнес-процессами.</pre>
  <pre>   В каждой корпорации, фирме или государственном учреждении каждый день протекают некие бизнес-процессы,
как правило связанные с отработкой документов. Система решает задачу автоматизации таких бизнес-процессов,
путём предоставления инструментов графического построения сценариев бизнес-процессов, их выполнения и
отслеживания состояния их выполнения.</pre>
  <pre>   Система построена на базе SPA-фреймворка Durandal и СУБД Apache CouchDB.
Также использованы возможности библиотеки jQuery, jQuery UI, плагина jQuery.SVG и плагина
jQuery.UI-contextmenu.</pre>
</section>