<section class="container">
  <button type="button" class="btn btn-default" data-bind="click: orchestrate">Orchestrate</button>
  <button type="button" class="btn btn-default" data-bind="click: deleteWorkflows">delete Workflows</button>
  <button type="button" class="btn btn-default" data-bind="click: deleteBlocks">delete Blocks</button>
  <button type="button" class="btn btn-default" data-bind="click: deleteTemplates">delete Templates</button>
  <button type="button" class="btn btn-default" data-bind="click: deleteVariables">delete Variables</button>
</section>