<section>
  <div id="svg-container" class="col-lg-12">
    <div id="svg" class="hasmenu2">
        <h2 id="template_name"></h2>
        <div id="task" class="ui-widget-content ui-draggable ui-corner-all hasmenu task">
          <h5 class="ui-widget-header header">Задание 1</h5>
          <p class="blockText"></p>
        </div>
        <div id="condition" class="ui-widget-content ui-draggable ui-corner-all hasmenu condition">
          <h5 class="ui-widget-header header">Условие 1</h5>
          <p class="blockText"></p>
        </div>
        <div id="function" class="ui-widget-content ui-draggable ui-corner-all hasmenu function">
          <h5 class="ui-widget-header header">Функция 1</h5>
          <p class="blockText"></p>
        </div>
      </div>

    <div id="dialog-form-variable" title="Добавление переменной">
      <p class="validateTips">Поле "Имя переменной" - обязательное.</p>
      <form>
        <fieldset>
          <label for="variable_name">Имя переменной:</label>
          <input type="text" name="variable_name" id="variable_name" class="text ui-widget-content ui-corner-all">
          <label for="variable_value">Значение переменной по умолчанию:</label>
          <input type="text" name="variable_value" id="variable_value" value="" class="text ui-widget-content ui-corner-all">
          <input type="hidden" name="variable_mode" id="variable_mode" value="add">
        </fieldset>
      </form>
    </div>

    <div id="dialog-form-task" title="Редактирование задания">
      <p class="validateTips">Все поля обязательны для заполнения.</p>
      <form>
        <fieldset>
          <label for="task_title">Название задания:</label>
          <input type="text" name="task_title" id="task_title" class="text ui-widget-content ui-corner-all">
          <label for="task_users">Исполнители:</label>
          <select name="task_users" id="task_users" class="text ui-widget-content ui-corner-all users" multiple>
            <option value=""></option>
          </select>
          <input type="hidden" name="task_id" id="task_id" value="">
        </fieldset>
      </form>
    </div>

    <div id="dialog-form-function" title="Редактирование блока функции">
      <p class="validateTips">Все поля обязательны для заполнения.</p>
      <form>
        <fieldset>
          <label for="function_title">Название блока функции:</label>
          <input type="text" name="function_title" id="function_title" class="text ui-widget-content ui-corner-all">
          <label for="function_function">Имя функции:</label>
          <input type="text" name="function_function" id="function_function" class="text ui-widget-content ui-corner-all">
          <input type="hidden" name="block_id" id="block_id" value="">
        </fieldset>
      </form>
    </div>

    <div id="dialog-form-condition" title="Редактирование условия">
      <p class="validateTips">Все поля обязательны для заполнения.</p>
      <form>
        <fieldset>
          <label for="condition_title">Название блока условия:</label>
          <input type="text" name="condition_title" id="condition_title" class="text ui-widget-content ui-corner-all">
          <label for="condition_vars">Переменная:</label>
          <select name="condition_vars" id="condition_vars" class="text ui-widget-content ui-corner-all">
            <option value=""></option>
          </select><br>
          <label for="condition_value">= Значение:</label>
          <input type="text" name="condition_value" id="condition_value" class="text ui-widget-content ui-corner-all">
          <input type="hidden" name="condition_block_id" id="condition_block_id" value="">
        </fieldset>
      </form>
    </div>

    <div id="dialog-form-template" title="Редактирование названия сценария">
      <p class="validateTips">Поле "Название сценария" обязательно для заполнения.</p>
      <form>
        <fieldset>
          <label for="template_title">Название сценария:</label>
          <input type="text" name="template_title" id="template_title" class="text ui-widget-content ui-corner-all">
        </fieldset>
      </form>
    </div>
  </div>

</section>
